
.bookingPage-sections {
  width: 100%;
  margin-top: 40px;
  padding: 5px var(--padding-sm) 0 var(--padding-sm);
  display: flex;
  gap: var(--gutter-lg);
  border-radius: var(--border-radius-3xl);
   box-shadow: var(--box-shadow);
   flex-wrap: wrap;
}
  /* Page title */
  .page-title {
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--gutter-sm);
    padding:var(--padding-sm);
  }
  .back-btn {
    background: none;
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: var(--font-size-2xl); 
     line-height: 1;
  }
  .page-title h1 {
    font-family: var(--primary-font);
    font-size: var(--font-size-xl);
    font-weight: 600;
  }

  /* staff Section */
  .select-staff-section { 
    width: 30%;
    padding: var(--padding-md) var(--padding-sm);
    margin-top: var(--margin-sm);
  }
  .staff-label,
  .date-label,
  .time-label {
    font-size: var(--font-size-xl);
    line-height: 1;
    font-family: var(--primary-font);
    font-weight: 600;
    margin-bottom: var(--margin-sm);
  }

  /* Staff card */
  .staff-card {
    border: 2px solid #e8e8e8;
    border-radius: var(--border-radius-3xl);
    overflow: hidden;
  }
  .staff-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-sm) var(--padding-md);
    cursor: pointer;
    transition: background .15s;
  }
  .staff-item:not(:last-child) { 
    border-bottom: 2px solid #e8e8e8;
  }
  .staff-item:hover {
    background: #fafafa; 
  }
  .staff-name {
    font-weight: 600; 
    font-size: var(--font-size-md);
  }
  .staff-role {
    font-size: var(--font-size-sm); 
    color: var(--muted); 
    margin-top: 2px; 
   }
  .radio {
    width: 22px;
    height: 22px;
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
   align-items: center; 
   justify-content: center;
   transition: background .15s;
  }
  .radio.selected { 
    background: var(--secondary-color); 
   }
  .radio.selected::after {
    content: '';
    width: 8px; height: 8px;
    background: white;
    border-radius: 50%;
  }
  .chevron-row {
    display: flex; 
    justify-content: center;
    padding: 10px 0 4px;
    color: var(--highLight);
    font-size: var(--font-size-md);
  }

/* date selection */
.select-date-section {
  width: 30%;
  padding: var(--padding-md) var(--padding-sm);
  margin-top: var(--margin-sm);

}
.month-nav {
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  margin-bottom: var(--margin-md);
  }

.month-nav span { 
  font-weight: 600; 
  font-size: var(--font-size-md);
 }
.days-row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.day-cell {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    width: 45px;
    height: 70px;
    border-radius: 35px;
    cursor: pointer;
    transition: background .15s;
    background: var(--bg-light);
    position: relative;
  }
.day-cell.dayActive { 
  background: var(--secondary-color); 
}
.day-name { 
  font-size: 13px; 
  color: var(--primary-color); 
  font-weight: 500;
  margin-top: 10px;
}
.day-cell.dayActive .day-name { 
  color: var(--color-white); 
}
.day-num { 
  width: 30px;
  height: 30px;
  font-size: var(--font-size-sm); 
  font-weight: 600; 
  color: var(--primary-color);
  background: var(--color-white);
  border-radius: 50%;
  position: absolute;
  bottom: 8%;
  left: 13%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.day-cell.dayActive .day-num {
  color: var(--secondary-color);
}
/* time section */
.select-time-section {
  width: 30%;
  padding: 0 20px 16px;
  display: flex; 
  align-items: center; 
  gap: 20px;
}
  .time-display {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .time-badge {
    width: 150px;
    height: 40px;
    background: var(--secondary-color);
    color: white;
    font-size: var(--font-size-xl);
    font-weight: 600;
    border-radius: var(--border-radius-xl);
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Clock */
.clock-wrap { 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  gap: 10px; 
}
#clockCanvas { 
  cursor: pointer; 
  display: block; 
}

.am-pm-toggle {
  display: flex;
  overflow: hidden;
  font-size: 13px; 
  font-weight: 600;
  border: 1.5px solid var(--primary-color);
  border-radius: var(--border-radius-xl);
  padding: 4px 4px;
}
.am-pm-btn {
  cursor: pointer; 
  background: none; 
  border: none;
  border-radius: var(--border-radius-xl);
  padding: var(--padding-sm) var(--padding-sm); 
  font-size: var(--font-size-md); 
  color: var(--primary-color);
  transition: background .15s, color .15s;
}
.am-pm-btn.active { 
  background: var(--primary-color); 
  color: white; 
}

.book-bottom-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Summary row */
.summary-row {
  width: 50%;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  padding: 0 50px 16px;
  font-size: 14px; color: var(--muted);
}
.summary-row span:first-child { 
  color: var(--primary-color); 
  font-weight: 500; 
  font-size: var(--font-size-xl);
}

  /* Book button */
.book-btn {
  margin: 0 20px 20px 20px;
  width: calc(50% - 40px);
  background: var(--red);
  color: white;
  border: none; cursor: pointer;
  font-family:var(--primary-font);
  font-size: var(--font-size-2xl);
  font-weight: 600;
  padding: 18px;
  border-radius: 14px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  gap: 10px;
  transition: background .2s, transform .1s;
}
.book-btn:hover { 
  background: #a8203e; 
}
.book-btn:active { 
  transform: scale(.98); 
}
.book-btn .arrow,
.back-home-btn .arrow{
  width: 28px; 
  height: 28px;
  border: 2px solid rgba(255,255,255,.5);
  border-radius: 8px;
  display: flex; 
  align-items: center; 
  justify-content: center;
  font-size: 16px;
}

 /* Success Modal */
  .modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.568);
    display: flex; 
    align-items: flex-end; 
    justify-content: center;
    z-index: 999; 
    opacity: 0; 
    pointer-events: none;
    transition: opacity .3s ease;
  }
  .modal-overlay.show { 
    opacity: 1; 
    pointer-events: all; 
  }
.modal-sheet {
    background: #fff; 
    width: 40%;
    border-radius: 28px;
    padding: 20px 24px 36px 24px;
    transform: translateY(-70px);
    transition: transform .35s cubic-bezier(.22,1,.36,1);
}
.modal-sheet h3 {
  text-align: center;
  margin-bottom: var(--margin-sm);
}
.modal-overlay.show .modal-sheet { 
  transform: translateY(0);
}

.modal-title { 
  text-align: center; 
  font-size: var(--font-size-md); 
  color: var(--text-light); 
  margin-bottom: var(--margin-lg); 
}

.services-row { 
  width: 100%;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  margin-bottom: var(--margin-lg);
}
.services-row .s-label { 
  width: 50%;
  font-weight: 500;
  font-size: var(--font-size-lg); 
  color: var(--primary-color); 
}
.services-row .s-value  {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  flex-wrap: wrap;
}
.services-row .s-value span { 
  font-size: var(--font-size-md); 
  color: var(--highLight); 
}

.price-card { 
  border: 1.5px solid var(--primary-color); 
  border-radius: var(--border-radius-xl); 
  padding: var(--padding-md); 
  margin-bottom: var(--margin-sm); 
}
.price-row,
.price-row-tax { 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: var(--margin-sm); 
}
.price-row .pr-label { 
  font-size: var(--font-size-md); 
  font-weight: 500; 
  color: var(--primary-color); 
}
.price-row .pr-value { 
  font-size: var(--font-size-md); 
  font-weight: 600; 
  color: var(--primary-color);
}
.price-row-tax .tax-label,
.price-row-tax .tax-value { 
  color: var(--highLight);
  font-weight: 400;
  font-size: 14px; 
}
.price-divider {
  border: none; 
  border-top: 1px solid var(--highLight); 
  margin: 12px 0; 
}
.price-row.total .pr-label { 
  font-weight: 700; 
  font-size: var(--font-size-md); 
}
.price-row.total .pr-value { 
  font-weight: 700; 
  font-size: var(--font-size-md);
}

.payment-note { 
  text-align: center; 
  font-size: var(--font-size-sm); 
  color: var(--text-light); 
  margin-bottom: var(--margin-md); 
}

.confirm-row { 
  display: flex; 
  justify-content: space-between; 
  font-size: var(--font-size-md); 
  margin-bottom: var(--margin-lg); 
}
.confirm-row .c-date { 
  color: var(--primary-color); 
  font-weight: 500; 
}
.confirm-row .c-time { 
  color: var(--text-light); 
}

.back-home-btn {
  width: 100%;
  background: var(--secondary-color);
  color: white;
  border: none; 
  cursor: pointer;
  font-family: var(--primary-font);
   font-size: var(--font-size-md); 
   font-weight: 700;
  padding: var(--padding-md); 
  border-radius: var(--gutter-sm);
  display: flex; 
  align-items: center; 
  justify-content: center; 
  gap: 10px;
  transition: background .2s, transform .1s;
}
.back-home-btn:hover { 
  background: #a8203e; 
}
.back-home-btn:active { 
  transform: scale(.98); 
}

.services-row { 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 20px; 
}
.services-row .s-label { 
  font-weight: 700; 
  font-size: 15px; 
  color: var(--primary-color); 
}
.services-row .s-value { 
  font-size: 13px; 
  color: var(--text-light); 
}

/* ---------------- RESPONSIVE MEDIA QUERY ---------------- */
@media (max-width: 768px) {
  .bookingPage-sections {
    flex-direction: column;
    padding-top: 0;
    gap: var(--gutter-sm);
    margin-top: 5px;
    box-shadow: none;
  }
  .select-staff-section,
  .select-date-section,
  .select-time-section  {
    width: 100%;
    padding-top: 0;
    margin-top: 2px;
  }
  .summary-row {
     width: 100%;
     padding: 0 20px 15px;
  }
  .summary-row span:first-child {
    font-size: var(--font-size-md);
  }
  .book-btn {
    margin: 0 20px 30px 20px;
    width: calc(100% - 40px);
    font-size: var(--font-size-lg); 
  }

  /* ------------ */
  .modal-sheet {
    width: 100%;
    transform: translateY(15px);
    padding: 15px 15px 35px 15px;
  }
  .modal-title  {
    font-size: var(--font-size-md);
    margin-bottom: var(--margin-md);
  }
  .services-row {
    margin-bottom: var(--margin-md);
  }
  .services-row .s-label {
    font-size: var(--font-size-sm);
  }
  .services-row .s-value span {
    font-size: var(--font-size-sm);
  }
}